/* 
 * These are global CSS styles that should apply to all themes 
 * Overrides go here... some styles may need !important to override inline styles applied by libraries
 * This CSS file will be loaded last in the chain, so use !important carefully
*/

#dialog
{
	height: auto !important;
}

#dialog p{
	text-align: left;
	text-align: initial;
}

span.versionInfo{
	cursor: pointer;
	text-decoration: underline;
}

.inline-block{
	display: inline-block;
}

div.OGPVersionArea{
	width: 100%;
	position: relative;
}

span.copyVersionResult{
	position: absolute;
	left: 90%;
	top: 0;
}

.hide{
	display: none !important;
}

.progress {
	width: 100%;
	background-color: white;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid black;
}
.progress .progress-bar {
	width: 1px;
	height: 15px;
		
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
	background: #43DB00; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

.serverIdToggle{
	text-align: right !important;
	cursor: pointer;
	text-decoration: underline;
}

th.serverId{
	min-width: 60px;
}

table.tablesorter thead tr .header.sorter-false{ /* No background image for non-sortable TH */
	background-image: none;
	cursor: auto;
}

table.hundred{
	width: 100%;
}

.disabled{
	cursor: not-allowed;
	opacity: .6;
}

.uploadLiteFMStatus{
	margin-top: 1em;
	margin-bottom: 1em;
}

.loader{
	border: 6px solid #f3f3f3;
	border-radius: 50%;
	border-top: 6px solid #3498db;
	width: 12px;
	height: 12px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}