.monitorbutton{
	display: inline-block;
	cursor: pointer;
	color: #323232;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	outline: 1px solid grey;
	width: 48%;
	height: 90px;
	background-color: #F0F0F6;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	max-width: 175px;
	float:left;
}

.monitorbutton.sizeText{
	line-height: 90px;
}

.monitorbutton:hover {
	background-color:#D9D9D9;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	cursor:pointer;
	text-decoration:none;
}

.monitorbutton > img {
	height: 50px;
	margin: 5px 0px;
}

.monitorbutton > span {
	display: block;
	font-weight: bold;
	color: #000;
}

button:active, button[type="submit"]:active, input[type="submit"]:active, .monitorbutton tr td:active {
	background-color:#0F0 !important;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}

#server_icon{
	display:block;
	float:left;
	overflow:hidden;
	margin:2px;
	margin-right:10px;
	padding-top:1px;
	padding-bottom:2px;
	padding-right:5px;
	border:1px solid gray;
	background:transparent;
	cursor:pointer;
	background-color:white;
	border-radius:3px;
	font-weight:bold;
}

#server_icon div{
	display:inline-block; 
	vertical-align:middle;
}

.monitorButtonContainer{
	text-align: left; /* fallback for older IE */
	text-align: initial;
	width: 98%;
	padding-top: 2%;
}

.operations{
	text-align: center;
}
