.monitorbutton{
	display: inline-block;
	cursor: pointer;
	color: #323232;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	border: 1px solid grey;
	width: 145px;
	height: 80px;
	background-color: #F0F0F6;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 3px;
}
.monitorbutton:hover {
	background-color:#D9D9D9;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	cursor:pointer;
	text-decoration:none;
}
.monitorbutton > img {
	height: 50px;
	margin: 5px 0px;
}
.monitorbutton > span {
	display: block;
	font-weight: normal;
	color: #000;
}
button:active, button[type="submit"]:active, input[type="submit"]:active, .monitorbutton tr td:active {
	background-color:#0F0 !important;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
#server_icon{
	display:block;
	float:left;
	overflow:hidden;
	margin:2px;
	margin-right:10px;
	padding-top:1px;
	padding-bottom:2px;
	padding-right:5px;
	border:1px solid gray;
	background:transparent;
	cursor:pointer;
	background-color:white;
	border-radius:3px;
	font-weight:bold;
}

#server_icon div{
	display:inline-block; 
	vertical-align:middle;
}
