.collapsible.collapsed {
	padding: 10px;
	background: url('../../images/tablesorter_expand.png') no-repeat center center;
	cursor: pointer;
}

.collapsible.expanded {
	padding: 10px;
	background: url('../../images/tablesorter_collapse.png') no-repeat center center;
	cursor: pointer;
}
